/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }, // Added closing brace here
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: '.*:MINIMAP2_ALIGN' {
        ext.prefix = { "${meta.id}_mapped" } 
        ext.args = {
            [
                meta.method == 'pb' ? ( params.minimap2_pb_model ? "-ax $params.minimap2_pb_model" : "-ax map-hifi" ) : 
                ( params.minimap2_ont_model ? "-ax $params.minimap2_ont_model" : "-ax lr:hq " ),
                params.save_secondary_alignment ? "--secondary=yes " : "--secondary=no "
            ].join(' ').trim()
        }
        ext.args4  = "-T '*'"
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:CRAMINO_PRE' {
        ext.args   = '--ubam'
        publishDir = [
            path: { "${params.outdir}/qc/cramino_ubam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CRAMINO_POST' {
        publishDir = [
            path: { "${params.outdir}/qc/cramino_aln" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MODKIT_PILEUP' {
        publishDir = [
            path: { "${params.outdir}/methylation/modkit_pileup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FIBERTOOLSRS_QC' {
        ext.args   = { params.autocorrelation ? "--acf" : '' }
        publishDir = [
            path: { "${params.outdir}/methylation/fibertoolsrs/qc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MOSDEPTH' {
        publishDir = [
            path: { "${params.outdir}/qc/mosdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FIBERTOOLSRS_PREDICTM6A' {
        ext.args = {
            [
                params.keep_kinetic_data ? "--keep" : '',
                params.keep_all_calls ? "--all-calls" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/methylation/fibertoolsrs/predictm6a" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:SEVERUS' {
        ext.args = '--min-support 3'
        publishDir = [
            path: { "${params.outdir}/variants/severus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CLAIRSTO_revio' {
        ext.args   = { "--platform hifi_revio"}
        publishDir = [
            path: { "${params.outdir}/variants/clairsto" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FIBERTOOLSRS_FIRE' {
        ext.args   = { params.ont_data ? "--ont" : '' } //TODO: this won't work. Need to import this module twice with different args
        publishDir = [
            path: { "${params.outdir}/methylation/fibertoolsrs/fire" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CLAIRSTO_ont' {
        ext.args   = { "--platform ont_r10_dorado_sup_5khz_ssrs"}
        publishDir = [
            path: { "${params.outdir}/variants/clairsto" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: '.*:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/${meta.type}/qc/samtools/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }
