/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }, // Added closing brace here
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    //
    // QC Processes
    //

    withName: '.*:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/${meta.type}/samtools/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: '.*:CRAMINO_PRE' {
        ext.args   = '--ubam'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/${meta.type}/cramino_ubam" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CRAMINO_POST' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/${meta.type}/cramino_aln" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FIBERTOOLSRS_QC' {
        ext.args   = { params.autocorrelation ? "--acf" : '' }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/${meta.type}/fibertoolsrs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:MOSDEPTH' {
        ext.args  = { '-n -x' }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/${meta.type}/mosdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Preprocessing and other processes
    //

    withName: '.*:PREPARE_REFERENCE_FILES' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:UNZIP_.*' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:METAEXTRACT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:SAMTOOLS_FAIDX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:SAMTOOLS_CAT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bamfiles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:VCFSPLIT' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/clairsto" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // MINIMAP2
    //

    withName: '.*:MINIMAP2_ALIGN' {
        ext.prefix = { "${meta.id}_mapped" }
        ext.args = {
            [
                meta.platform == 'pb' ? ( params.minimap2_pb_model ? "-ax $params.minimap2_pb_model" : "-ax map-hifi" ) :
                ( params.minimap2_ont_model ? "-ax $params.minimap2_ont_model" : "-ax lr:hq " ),
                params.save_secondary_alignment ? "--secondary=yes " : "--secondary=no ",
                "-y",
                "-Y"
            ].join(' ').trim()
        }
        ext.args4  = "-T '*'"
        publishDir = [
            enabled: false
        ]
    }

    //
    // Methylation related processes
    //

    withName: '.*:MODKIT_PILEUP' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methylation/${meta.type}/modkit_pileup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FIBERTOOLSRS_PREDICTM6A' {
        ext.args = {
            [
                params.keep_kinetic_data ? "--keep" : '',
                params.keep_all_calls ? "--all-calls" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methylation/${meta.type}/fibertoolsrs/predictm6a" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FIBERTOOLSRS_FIRE' {
        ext.args   = { (meta.platform == "ont") ? "--ont" : "" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/methylation/${meta.type}/fibertoolsrs/fire" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Phasing processes
    //

    withName: '.*:LONGPHASE_PHASE' {
        ext.args   = {meta.platform == 'pb' ? '--pb' : '--ont'}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bamfiles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: '.*:LONGPHASE_HAPLOTAG' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/bamfiles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Structural variant calling processes
    //

    withName: '.*:SEVERUS' {
        ext.args = '--min-support 3 --output-read-ids '
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/severus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Small variant calling processes
    //

    withName: '.*:CLAIRSTO' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/clairsto" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CLAIRS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/clairs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CLAIR3' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/variants/clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Copy number calling processes
    //

    withName : '.*:ASCAT' {
        ext.args   = { [
            "gender": meta.sex == 'female' ? 'XX' : 'XY',
            "purity": params.ascat_purity,
            "ploidy": params.ascat_ploidy,
            "minCounts": params.ascat_min_counts,
            "chrom_names": params.ascat_chroms ?: meta.sex == 'female' ? "c(1:22, 'X')" : "c(1:22, 'X', 'Y')",
            "min_base_qual": params.ascat_min_base_qual,
            "min_map_qual": params.ascat_min_map_qual,
            "longread_bins": params.ascat_longread_bins,
            "allele_counter_flags": params.ascat_allelecounter_flags
            ] }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/ascat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : '.*:WAKHAN' {
        ext.args = {
            [
                "--genome-name ${meta.id}",
                "--out-dir-plots ./",
                "--centromere ${params.centromere}",
            ].join(' ').trim()
        }
    }
}
