/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full pipeline test with both
    callers in union combine mode.

    Use as follows:
        nextflow run IntGenomicsLab/lrsomatic -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: '.*' {
        resourceLimits = [
            cpus: 4,
            memory: '15.GB',
            time: '1.h'
        ]
    }
    // SAVANA's cellularity fit has no allelic-imbalance signal on chr19; see conf/test.config
    withName: '.*SAVANA_CNA' {
       errorStrategy = 'ignore'
    }
    withName: '.*SAVANA_TO' {
       errorStrategy = 'ignore'
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset with both callers in union combine mode'

    // Input data
    input    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/samplesheets/samplesheet_lr-somatic.csv"
    fasta    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/GRCh38_chr19.fasta.gz"

    // Additional params
    genome                = "GRCh38"
    vep_genome            = "WBcel235"
    vep_species           = "caenorhabditis_elegans"
    skip_wakhan           = true
    skip_ascat            = true
    skip_vep_plugins      = true
    // CoRAL seeds from ASCAT, which is skipped here
    skip_coral            = true
    // needs a ~3 GB SigProfilerMatrixGenerator genome payload
    skip_signatures       = true
    // chr19 slice: SAVANA's default het-SNP floors are not met; see conf/test.config
    savana_chromosomes      = "19"
    savana_allele_min_reads = 2
    savana_allele_mapq      = 0

    // Both callers, union combine mode
    germline_var_keep     = 'clair, deepvariant'
    somatic_var_keep      = 'clair, deepsomatic'
    germline_var_combine  = 'all'
    somatic_var_combine   = 'all'
}
