/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run IntGenomicsLab/lr_somatic -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/samplesheets/samplesheet_lr-somatic.csv"
    fasta    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/CHM13V2_maskedY_rCRS_chr19.fa.gz"
    //pon_file = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/PoN_1000G_chm13.tsv.gz"
    //bed_file = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/chm13.bed"
    genome = "CHM13"
    // ASCAT files
    //ascat_allele_files = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/ascat/G1000_alleles_CHM13.zip"
    //ascat_loci_files   = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/ascat/G1000_loci_CHM13.zip"
    ascat_chroms       = "19"
    ascat_min_counts   = 2
}
